<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BCGM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BCGM.Properties.Settings.BCGM_2014ConnectionString"
            connectionString="Data Source=(local);Initial Catalog=BCGM_2015;Persist Security Info=True;User ID=sa;Password=4000212099"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <BCGM.Properties.Settings>
            <setting name="Company" serializeAs="String">
                <value>Zero CN</value>
            </setting>
            <setting name="cServer" serializeAs="String">
                <value>qxw1649450065</value>
            </setting>
            <setting name="cUser" serializeAs="String">
                <value>Demo</value>
            </setting>
            <setting name="cAccount" serializeAs="String">
                <value>001主账套</value>
            </setting>
        </BCGM.Properties.Settings>
    </userSettings>
</configuration>