<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BCPDA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BCPDA.Properties.Settings.PDACON" connectionString="Data Source=(local);Initial Catalog=BCGM_2015;Persist Security Info=True;User ID=sa;Password=4000212099"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <BCPDA.Properties.Settings>
            <setting name="cUser" serializeAs="String">
                <value />
            </setting>
            <setting name="cServer" serializeAs="String">
                <value />
            </setting>
            <setting name="cAccount" serializeAs="String">
                <value />
            </setting>
        </BCPDA.Properties.Settings>
    </userSettings>
</configuration>